//! **************************************************************************
// Written by: Map P.15xf on Tue Oct 13 13:12:37 2015
//! **************************************************************************

SCHEMATIC START;
COMP "res<0>" LOCATE = SITE "L5" LEVEL 1;
COMP "res<1>" LOCATE = SITE "N2" LEVEL 1;
COMP "res<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "res<3>" LOCATE = SITE "N1" LEVEL 1;
COMP "op1<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "op1<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "op1<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "op1<3>" LOCATE = SITE "H3" LEVEL 1;
COMP "op2<0>" LOCATE = SITE "G2" LEVEL 1;
COMP "op2<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "op2<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "op2<3>" LOCATE = SITE "F15" LEVEL 1;
SCHEMATIC END;

